#wrapper {
    width: 1200px;
    margin-left:  auto;
    margin-right: auto;
    background-color: rgb(0, 181, 81);
    padding: 20px;
    height: 700px;
}

header {
    width: 900px;
    box-shadow: 10px 15px 10px #dcd7ef;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-family: 'VT323', monospace;
}

#tiles{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


#dice {
    width: auto;
    float: right;
    margin-right: 120px;
    background-color: rgba(44,98,142, .9);
    height: auto;
    margin-top: -350px;
    padding: 10px;
    box-shadow: 10px 10px 10px #7E6143;
}

#leftside, #reset {
    position: relative;
    margin-left: 50px;
    width: auto;
    margin-top: 3px;
}

.numbers {
    width: 80px;
    height: 100px;
    padding: 5px;
    border-radius: 4px;
} 
.myDice {
    width: auto;
    height: 160px;
    padding: 5px;
    border-radius: 4px;
} 
.center {
    text-align: center;
    width: 200px;
    height: 50px;
}

.bigText {
    font-size: 30px;
    background-color: rgba(44,98,142,.8);
    box-shadow: 10px 10px 10px #7E6143;
    border-color: black;
        color: white;
}
#scoreboards {
    position: relative;
    margin-left: 50px;
    width: auto;   
    color: white;
    font-size:  40px;
}

#reset {
    height: 60px;
}

.spin {
  transform: rotate(360deg);
  transition: .5s;
}

.spinLong {
  transform: rotate(720deg);
  transition: 1s;
}